:root {
  --primary-color: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
}

body {
  background-image: url(/img/1f69489a-fd8c-4a61-9bff-b306e9101f1f.jpg);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  color: var(--primary-color);
  text-shadow: rgb(241, 170, 241) 5px 3px 5px;
}

p {
  text-align: center;
  color: white
}

.btn {
  color: #fff;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 12px;
}

.currency {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 10px;
}

.currency select {
  padding: 10px 10px 10px 10px;
  background: transparent;
  border: 0;

  font-size: 16px;
  /*  You may not need these following lines. The arrow did not show for me on MacOS/Chrome so I added it. Just remove it if you would like  */

}

.currency input {
  border: 0;
  background: transparent;
  font-size: 30px;
  text-align: right;
}

.swap-rate-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}

.rate {
  color: var(--primary-color);
  font-size: 14px;
  padding: 0 10px;
}

select:focus,
input:focus,
button:focus {
  outline: 0;
}

@media (max-width: 600px) {
  .currency input {
    width: 200px;
  }
}